<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Новый проект</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/node_modules/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/styles/sidebar.css}">
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <script th:src="@{/node_modules/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/node_modules/@popperjs/core/dist/umd/popper.min.js}"></script>
    <script th:src="@{/node_modules/bootstrap/dist/js/bootstrap.min.js}"></script>
<!--    <script th:src="@{/js/sidebar.js}"></script>-->
    <!--    <script th:src="@{/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>-->
</head>

<header th:insert="~{/components/topbar :: copy}"></header>

<body>
<div class="container-fluid" style="min-height: 800px;">
    <div class="row flex-nowrap">

        <div class="flex-shrink-0 p-3 bg-white" style="width: 300px;" th:insert="~{/components/sidebar :: copy}"></div>

        <div class="col py-3">
            <div style="width: 700px;">
                <h1>Создать новый проект</h1>
                <form th:action="@{/{username}/project/add(username=${user.username})}" method="post" th:object="${project}">
                    <input type="hidden"
                           th:name="${_csrf.parameterName}"
                           th:value="${_csrf.token}" />
                    <div class="mb-3">
                        <label for="titleInput" class="form-label">Название проекта</label>
                        <input type="text" class="form-control" id="titleInput" aria-describedby="emailHelp" name="title" th:field="*{title}">
                        <div class="form-text text-danger"><span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span></div>
                    </div>
<!--                    <div class="mb-3 form-check">-->
<!--                        <input type="checkbox" class="form-check-input" id="exampleCheck1" name="isPublic" th:checked="${isPublic}">-->
<!--                        <label class="form-check-label" for="exampleCheck1">Публичный проект (виден всем)</label>-->
<!--                    </div>-->
                    <div class="mb-3">
                        <label class="form-label" for="status_select">Доступность проекта</label>
                        <select id="status_select" class="form-select" aria-label="Default select example" name="status">
                            <option value="private">Приватный (виден Вам и выбранным Вами пользователям)</option>
                            <option value="public">Публичный (виден всем)</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Создать</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>

<footer class="container py-5">
    <div class="row">
        <div class="col-12 col-md">
            <img th:src="@{/images/iconmonstr-note-black-15-32.png}">
            <small class="d-block mb-3 mt-3 text-muted">&copy; Wagenheim 2023</small>
        </div>
        <div class="col-6 col-md">
            <h5>Features</h5>
            <!-- <ul class="list-unstyled text-small">
              <li><a class="link-secondary" href="#">Cool stuff</a></li>
              <li><a class="link-secondary" href="#">Random feature</a></li>
              <li><a class="link-secondary" href="#">Team feature</a></li>
              <li><a class="link-secondary" href="#">Stuff for developers</a></li>
              <li><a class="link-secondary" href="#">Another one</a></li>
              <li><a class="link-secondary" href="#">Last time</a></li>
            </ul> -->
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <!-- <ul class="list-unstyled text-small">
              <li><a class="link-secondary" href="#">Resource name</a></li>
              <li><a class="link-secondary" href="#">Resource</a></li>
              <li><a class="link-secondary" href="#">Another resource</a></li>
              <li><a class="link-secondary" href="#">Final resource</a></li>
            </ul> -->
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <!-- <ul class="list-unstyled text-small">
              <li><a class="link-secondary" href="#">Business</a></li>
              <li><a class="link-secondary" href="#">Education</a></li>
              <li><a class="link-secondary" href="#">Government</a></li>
              <li><a class="link-secondary" href="#">Gaming</a></li>
            </ul> -->
        </div>
        <div class="col-6 col-md">
            <h5>About</h5>
            <!-- <ul class="list-unstyled text-small">
              <li><a class="link-secondary" href="#">Team</a></li>
              <li><a class="link-secondary" href="#">Locations</a></li>
              <li><a class="link-secondary" href="#">Privacy</a></li>
              <li><a class="link-secondary" href="#">Terms</a></li>
            </ul> -->
        </div>
    </div>
</footer>

</html>