<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/node_modules/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/styles/sidebar.css}">
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <script th:src="@{/node_modules/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/node_modules/@popperjs/core/dist/umd/popper.min.js}"></script>
    <script th:src="@{/node_modules/bootstrap/dist/js/bootstrap.min.js}"></script>
</head>

<header th:insert="~{/components/topbar :: copy}"></header>

<body>
    <div class="container-fluid" style="min-height: 800px;">
        <div class="row flex-nowrap">

            <div class="flex-shrink-0 p-3 bg-white" style="width: 300px;" th:insert="~{/components/sidebar :: copy}"></div>

            <div class="col py-3">
                <div style="width: 700px;">
                    <h1>Удалённые заметки</h1>

                    <ul class="list-group">
                        <li class="empty_list text-primary d-flex justify-content-center" th:if="${#lists.isEmpty(user.deletedNoteSet)}">
                            <span>Корзина пуста</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between" th:each="note: ${user.deletedNoteSet}">
                            <span th:text="${#strings.abbreviate(note.title, 30)}"></span>
                            <div class="d-flex justify-content-end">
                                <form th:action="@{/{username}/bin/note/{noteId}/recover
                                (username=${user.username}, noteId=${note.id})}"
                                      method="post" th:id="${'recover-note-request-form-' + note.title}" class="me-2">
                                    <input type="hidden"
                                           th:name="${_csrf.parameterName}"
                                           th:value="${_csrf.token}" />
                                    <button type="submit" class="btn btn-outline-primary btn-sm">Восстановить</button>
                                </form>
                                <form th:action="@{/{username}/bin/note/{noteId}/delete
                                (username=${user.username}, noteId=${note.id})}"
                                      method="post" th:id="${'delete-note-request-form-' + note.title}">
                                    <input type="hidden"
                                           th:name="${_csrf.parameterName}"
                                           th:value="${_csrf.token}" />
                                    <button type="submit" class="btn btn-outline-danger btn-sm">Удалить</button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</body>
</html>