<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta charset="UTF-8">
  <title th:text="${note.title}"></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/node_modules/bootstrap/dist/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/styles/sidebar.css}">
  <link rel="stylesheet" th:href="@{/styles/style.css}">

  <link th:rel="stylesheet" th:href="@{/node_modules/font-awesome/css/font-awesome.css} "/>
  <link th:rel="stylesheet" th:href="@{/node_modules/simplemde/dist/simplemde.min.css}"/>

  <script th:src="@{/node_modules/jquery/dist/jquery.min.js}"></script>
  <script th:src="@{/node_modules/@popperjs/core/dist/umd/popper.min.js}"></script>
  <script th:src="@{/node_modules/bootstrap/dist/js/bootstrap.min.js}"></script>
  <!--    <script th:src="@{/js/sidebar.js}"></script>-->
  <!--    <script th:src="@{/js/modal.js}"></script>-->
  <!--    <script th:src="@{/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>-->
</head>

<header th:insert="~{/components/topbar :: copy}"></header>

<body>
<div class="container-fluid" style="min-height: 800px;">
  <div class="row flex-nowrap">

    <div class="flex-shrink-0 p-3 bg-white" style="width: 300px;" th:insert="~{/components/sidebar :: copy}"></div>

    <div class="col py-3">
      <div style="width: 700px;">
        <form th:action="@{/{username}/project/{projectId}/note/{noteId}/edit(username=${user.username}, projectId=${project.id}, noteId=${note.id})}"
              method="post" th:object="${editNote}">
          <input type="hidden"
                 th:name="${_csrf.parameterName}"
                 th:value="${_csrf.token}" />
          <div class="form-group">
            <label for="title">Заголовок:</label>
            <input type="text" id="title" placeholder="Заголовок" autocomplete="off" class="form-control" name="title"
                   th:field="*{title}"/>
            <div class="form-text text-danger"><span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span></div>
          </div>

          <div class="form-group">
            <label for="content">Текст заметки:</label>
            <textarea type="text" rows="4" id="content" placeholder="Текст заметки" class="form-control" name="content"
                      th:field="*{content}" autocomplete="off"></textarea>
            <div class="form-text text-danger"><span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span></div>
          </div>

          <button class="btn btn-primary" type="submit">Сохранить</button>

        </form>
      </div>
    </div>

    <div class="col py-5 float-end pe-5" th:if="${canDelete}">
      <!-- Button trigger modal -->
      <button type="submit" class="btn btn-outline-danger float-end" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Удалить</button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle" th:text="${note.title}"></h5>
            </div>
            <div class="modal-body">
              <p class="fs-4">Вы действительно хотите удалить эту заметку?</p>
<!--              <p class="text-danger">Это действие будет невозможно отменить</p>-->
            </div>
            <div class="modal-footer">
              <form th:action="@{/{username}/project/{projectId}/note/{noteId}/delete(username=${user.username}, projectId=${project.id}, noteId=${note.id})}"
                    method="post">
                <input type="hidden"
                       th:name="${_csrf.parameterName}"
                       th:value="${_csrf.token}" />
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="submit" class="btn btn-outline-danger">Удалить</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script th:src="@{/node_modules/simplemde/dist/simplemde.min.js}"></script>
<script>
    var simplemde = new SimpleMDE({element: document.getElementById("content")});
</script>

</body>

<!--<footer class="container py-5">-->
<!--  <div class="row">-->
<!--    <div class="col-12 col-md">-->
<!--      <img th:src="@{/images/iconmonstr-note-black-15-32.png}">-->
<!--      <small class="d-block mb-3 mt-3 text-muted">&copy; Wagenheim 2023</small>-->
<!--    </div>-->
<!--    <div class="col-6 col-md">-->
<!--      <h5>Features</h5>-->
<!--      &lt;!&ndash; <ul class="list-unstyled text-small">-->
<!--        <li><a class="link-secondary" href="#">Cool stuff</a></li>-->
<!--        <li><a class="link-secondary" href="#">Random feature</a></li>-->
<!--        <li><a class="link-secondary" href="#">Team feature</a></li>-->
<!--        <li><a class="link-secondary" href="#">Stuff for developers</a></li>-->
<!--        <li><a class="link-secondary" href="#">Another one</a></li>-->
<!--        <li><a class="link-secondary" href="#">Last time</a></li>-->
<!--      </ul> &ndash;&gt;-->
<!--    </div>-->
<!--    <div class="col-6 col-md">-->
<!--      <h5>Resources</h5>-->
<!--      &lt;!&ndash; <ul class="list-unstyled text-small">-->
<!--        <li><a class="link-secondary" href="#">Resource name</a></li>-->
<!--        <li><a class="link-secondary" href="#">Resource</a></li>-->
<!--        <li><a class="link-secondary" href="#">Another resource</a></li>-->
<!--        <li><a class="link-secondary" href="#">Final resource</a></li>-->
<!--      </ul> &ndash;&gt;-->
<!--    </div>-->
<!--    <div class="col-6 col-md">-->
<!--      <h5>Resources</h5>-->
<!--      &lt;!&ndash; <ul class="list-unstyled text-small">-->
<!--        <li><a class="link-secondary" href="#">Business</a></li>-->
<!--        <li><a class="link-secondary" href="#">Education</a></li>-->
<!--        <li><a class="link-secondary" href="#">Government</a></li>-->
<!--        <li><a class="link-secondary" href="#">Gaming</a></li>-->
<!--      </ul> &ndash;&gt;-->
<!--    </div>-->
<!--    <div class="col-6 col-md">-->
<!--      <h5>About</h5>-->
<!--      &lt;!&ndash; <ul class="list-unstyled text-small">-->
<!--        <li><a class="link-secondary" href="#">Team</a></li>-->
<!--        <li><a class="link-secondary" href="#">Locations</a></li>-->
<!--        <li><a class="link-secondary" href="#">Privacy</a></li>-->
<!--        <li><a class="link-secondary" href="#">Terms</a></li>-->
<!--      </ul> &ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
<!--</footer>-->

</html>