<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title th:text="${project.title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/node_modules/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/styles/sidebar.css}">
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <script th:src="@{/node_modules/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/node_modules/@popperjs/core/dist/umd/popper.min.js}"></script>
    <script th:src="@{/node_modules/bootstrap/dist/js/bootstrap.min.js}"></script>
<!--    <script th:src="@{/js/sidebar.js}"></script>-->
<!--    <script th:src="@{/js/modal.js}"></script>-->
    <!--    <script th:src="@{/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>-->
</head>

<header class="d-flex flex-wrap justify-content-center py-3 border-bottom pb-3 pt-3 ps-3 pe-3" sec:authorize="isAuthenticated()">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img th:src="@{/images/iconmonstr-note-primary-15-32.png}">
        <span class="fs-3 text-primary fw-bold ms-2">MINI NOTES</span>
    </a>

    <form th:action="@{/logout}" method="post" id="logout_form">
        <input type="hidden" name="var" value="val">
    </form>

    <span class="fs-5 text-primary fw-bold ms-2 me-2 mt-1" th:text="${username}"></span>

    <div class="dropdown text-end mt-1">

        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img th:src="@{/images/iconmonstr-user-circle-thin-32.png}" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <!--            <li><a class="dropdown-item" href="#">New project...</a></li>-->
            <!--            <li><a class="dropdown-item" href="#">Настройки</a></li>-->
            <li><a class="dropdown-item" href="#" >Профиль</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#" th:onclick="document.getElementById('logout_form').submit();">Выйти</a></li>
        </ul>

    </div>

</header>
<script>

</script>
<body>
<div class="container-fluid" style="min-height: 800px;">
    <div class="row flex-nowrap">
        <div class="flex-shrink-0 p-3 bg-white" style="width: 300px;">
            <span class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
<!--                <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>-->
                <span class="fs-5 fw-semibold">Проекты</span>
                <span style="margin-left: 125px;"><a class="link-underline-light" th:href="@{/{username}/project/add(username=${user.username})}"><img th:src="@{/images/iconmonstr-folder-24-32.png}"></a></span>
            </span>
            <ul class="list-unstyled ps-0">
                <li class="empty_list text-primary" th:if="${#lists.isEmpty(user.projectSet)}">
                    Список проектов пуст
                </li>
                <li class="mb-1" th:each="folder: ${user.projectSet}">
                    <button class="btn btn-toggle align-items-center rounded collapsed"
                            data-bs-toggle="collapse" th:data-bs-target="${'#Project-' + folder.title + '-' + folder.id + '-collapse'}" aria-expanded="false">
                        <span th:text="${#strings.abbreviate(folder.title, 17)}"></span>
                        <img class="ms-1" th:if="${folder.isPublic}" th:src="@{/images/iconmonstr-eye-lined-24.png}"
                             data-bs-toggle="tooltip" data-bs-placement="top" title="Проект виден всем">
                        <img class="ms-1" th:if="${!folder.isPublic}" th:src="@{/images/iconmonstr-eye-off-lined-24.png}"
                             data-bs-toggle="tooltip" data-bs-placement="top" title="Приватный проект">
                        <a th:href="@{/{username}/project/{projectId}/note/add(username=${user.username}, projectId = ${folder.id})}" class="ms-3 mini_button"><img th:src="@{/images/iconmonstr-note-add-24.png}"></a>
                        <a th:href="@{/{username}/project/{projectId}/settings(username=${user.username}, projectId = ${folder.id})}" class="ms-1 mini_button"><img th:src="@{/images/iconmonstr-wrench-23-24.png}"></a>
                    </button>
                    <div class="collapse" th:id="${'Project-' + folder.title + '-' + folder.id + '-collapse'}">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li class="empty_list text-primary" style="padding-left: 30px;" th:if="${#lists.isEmpty(folder.noteSet)}">
                                Нет заметок
                            </li>
                            <li th:each="miniNote: ${folder.noteSet}">
                                <a th:href="@{/{username}/project/{projectId}/note/{noteId}(username=${user.username}, projectId = ${folder.id}, noteId=${miniNote.id})}"
                                   class="link-dark rounded" th:text="${#strings.abbreviate(miniNote.title, 17)}"></a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="border-top my-3"></li>
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#help-collapse" aria-expanded="false">
                        Справка
                    </button>
                    <div class="collapse" id="help-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark rounded">Создание проекта</a></li>
                            <li><a href="#" class="link-dark rounded">Роли в проекте</a></li>
                            <li><a href="#" class="link-dark rounded">Создание заметки</a></li>
                            <li><a href="#" class="link-dark rounded">Редактирование заметки</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col py-3">
            <div style="width: 700px;">
                <h1>Редактирование проекта</h1>
                <form th:action="@{/{username}/project/{projectId}/settings(username=${user.username}, projectId=${project.id})}" method="post" th:object="${editProject}">
                    <input type="hidden"
                           th:name="${_csrf.parameterName}"
                           th:value="${_csrf.token}" />
                    <div class="mb-3">
                        <label for="titleInput" class="form-label">Название проекта</label>
                        <input type="text" class="form-control" id="titleInput" aria-describedby="emailHelp" name="title" th:value="${project.title}">
                        <div class="form-text text-danger"><span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span></div>
                    </div>
                    <!--                    <div class="mb-3 form-check">-->
                    <!--                        <input type="checkbox" class="form-check-input" id="exampleCheck1" name="isPublic" th:checked="${isPublic}">-->
                    <!--                        <label class="form-check-label" for="exampleCheck1">Публичный проект (виден всем)</label>-->
                    <!--                    </div>-->
                    <div class="mb-3">
                        <label class="form-label" for="status_select">Доступность проекта</label>
                        <select id="status_select" class="form-select" aria-label="Default select example" name="status">
                            <option value="private" th:selected="${!project.isPublic}">Приватный (виден Вам и выбранным Вами пользователям)</option>
                            <option value="public" th:selected="${project.isPublic}">Публичный (виден всем)</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </form>
            </div>
        </div>
        <div class="col py-5">
            <p><span class="fs-3 fw-bold">Создатель:</span><span th:text="${'@' + user.username}" class="ms-2 fs-5"></span></p>
            <p><span class="fs-5">Создан:</span><span th:text="${#strings.substringBefore(project.createdDateTime,' ')}" class="ms-2"></span></p>
            <p><span class="fs-5 ">Последнее изменение:</span><span th:text="${#strings.substringBefore(project.lastUpdateDateTime,' ')}" class="ms-2"></span></p>
        </div>
        <div class="col py-5 float-end pe-5">
            <button type="submit" class="btn btn-outline-danger float-end" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Удалить</button>

            <!-- Button trigger modal -->
<!--            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">-->
<!--                Launch demo modal-->
<!--            </button>-->

            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle" th:text="${project.title}"></h5>
                        </div>
                        <div class="modal-body">
                            <p class="fs-4">Вы действительно хотите удалить этот проект?</p>
                            <p class="text-danger">Это действие будет невозможно отменить</p>
                        </div>
                        <div class="modal-footer">
                            <form th:action="@{/{username}/project/{projectId}/delete(username=${user.username}, projectId=${project.id})}" method="post">
                                <input type="hidden"
                                       th:name="${_csrf.parameterName}"
                                       th:value="${_csrf.token}" />
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                <button type="submit" class="btn btn-outline-danger">Удалить</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</body>

<footer class="container py-5">
    <div class="row">
        <div class="col-12 col-md">
            <img th:src="@{/images/iconmonstr-note-black-15-32.png}">
            <small class="d-block mb-3 mt-3 text-muted">&copy; Wagenheim 2023</small>
        </div>
        <div class="col-6 col-md">
            <h5>Features</h5>
            <!-- <ul class="list-unstyled text-small">
              <li><a class="link-secondary" href="#">Cool stuff</a></li>
              <li><a class="link-secondary" href="#">Random feature</a></li>
              <li><a class="link-secondary" href="#">Team feature</a></li>
              <li><a class="link-secondary" href="#">Stuff for developers</a></li>
              <li><a class="link-secondary" href="#">Another one</a></li>
              <li><a class="link-secondary" href="#">Last time</a></li>
            </ul> -->
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <!-- <ul class="list-unstyled text-small">
              <li><a class="link-secondary" href="#">Resource name</a></li>
              <li><a class="link-secondary" href="#">Resource</a></li>
              <li><a class="link-secondary" href="#">Another resource</a></li>
              <li><a class="link-secondary" href="#">Final resource</a></li>
            </ul> -->
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <!-- <ul class="list-unstyled text-small">
              <li><a class="link-secondary" href="#">Business</a></li>
              <li><a class="link-secondary" href="#">Education</a></li>
              <li><a class="link-secondary" href="#">Government</a></li>
              <li><a class="link-secondary" href="#">Gaming</a></li>
            </ul> -->
        </div>
        <div class="col-6 col-md">
            <h5>About</h5>
            <!-- <ul class="list-unstyled text-small">
              <li><a class="link-secondary" href="#">Team</a></li>
              <li><a class="link-secondary" href="#">Locations</a></li>
              <li><a class="link-secondary" href="#">Privacy</a></li>
              <li><a class="link-secondary" href="#">Terms</a></li>
            </ul> -->
        </div>
    </div>
</footer>

</html>