<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.username}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/node_modules/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/styles/sidebar.css}">
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <script th:src="@{/node_modules/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/node_modules/@popperjs/core/dist/umd/popper.min.js}"></script>
    <script th:src="@{/node_modules/bootstrap/dist/js/bootstrap.min.js}"></script>
</head>

<header th:insert="~{/components/topbar :: copy}"></header>

<body>
<div class="container-fluid" style="min-height: 800px;">
    <div class="row flex-nowrap">

        <div class="flex-shrink-0 p-3 bg-white" style="width: 300px;" th:insert="~{/components/sidebar :: copy}"></div>

        <div class="col py-3">
            <h1>Редактирование пользователя</h1>
            <form th:action="@{/admin/editUser/{username}(username=${user.username})}" method="post" th:object="${editUser}">
                <input type="hidden"
                       th:name="${_csrf.parameterName}"
                       th:value="${_csrf.token}" />
                <div class="mb-3">
                    <label for="titleInput" class="form-label">Имя пользователя</label>
                    <input type="text" class="form-control" id="titleInput" name="username" th:field="*{username}">
                    <div class="form-text text-danger"><span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span></div>
                </div>
                <div class="mb-3">
                    <label for="emailInput" class="form-label">E-mail</label>
<!--                    <label id="emailInput" class="form-label" th:text="${user.email}"></label>-->
                    <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" name="email"
                           th:field="*{email}">
                    <div class="form-text text-danger"><span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span></div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="status_select">Статус учётной записи</label>
                    <select id="status_select" class="form-select" aria-label="Default select example" name="status">
                        <option value="ACTIVE" th:selected="${#strings.equals(editUser.status, 'ACTIVE')}">Активирована</option>
                        <option value="NOT_CONFIRMED" th:selected="${#strings.equals(editUser.status, 'NOT_CONFIRMED')}">Не подтверждена</option>
                        <option value="BANNED" th:selected="${#strings.equals(editUser.status, 'BANNED')}">Заблокирована</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="role_select">Уровень доступа</label>
                    <select id="role_select" class="form-select" aria-label="Default select example" name="role">
                        <option value="user" th:selected="${#strings.equals(editUser.role, 'ROLE_USER')}">Пользователь</option>
                        <option value="admin" th:selected="${#strings.equals(editUser.role, 'ROLE_ADMIN')}">Администратор</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
            <div class="mt-5">
                <button disabled type="submit" class="btn btn-outline-dark">Сбросить пароль</button>
            </div>
        </div>

        <div class="col py-5 float-end pe-5">
            <!-- Button trigger modal -->
            <button type="submit" class="btn btn-outline-danger float-end" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Удалить</button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle" th:text="${user.username}"></h5>
                        </div>
                        <div class="modal-body">
                            <p class="fs-4">Вы действительно хотите удалить этого пользователя?</p>
                            <p class="text-danger">Это действие будет невозможно отменить</p>
                        </div>
                        <div class="modal-footer">
                            <form th:action="@{/admin/editUser/{username}/delete(username=${user.username})}" method="post">
                                <input type="hidden"
                                       th:name="${_csrf.parameterName}"
                                       th:value="${_csrf.token}" />
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                <button type="submit" class="btn btn-outline-danger">Удалить</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>